* {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Inter';
}

@media only screen and (max-width: 1200px) {
    body {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        width: 100%;
        height: 100%;
        justify-content: center;
        gap: 60px;
    }
}

/* body {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 60px;
} */

#genContainer {
    display: flex;
    /* margin: auto; */
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

button {
    /* margin: auto; */
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, black, #444444);
    color: white;
    font-size: 14px;
    font-weight: 600;
}

button:hover {
    background-image: linear-gradient(to bottom right, #111111, #555555);
    scale: 1.03;
}

textarea {
    margin: auto;
    /* width: 200px;
    height: 100px; */
    padding: 10px;
}

#inputContainer {
    display: flex;
    /* margin: auto; */
    flex-direction: column;
    gap: 10px;
}

#canvas {
    /* margin: auto; */
    /* width: 752px;
    height: 468px; */
    margin: 20px;
    max-width: 752px;
}

#buttonContainer {
    display: flex;
    /* margin: auto; */
    padding: 10px;
    gap: 20px;
}

#mainTitle {
    font-weight: 600;
    font-size: 20px;
}
